
.is-invalid ~ .invalid-feedback {
  display:block;
  color:red;
}

.is-invalid:valid ~ .invalid-feedback {
  display:none;
}

/*
.is-valid:not(:focus):invalid ~ .invalid-feedback {
  display:block;
  color:red;
}
*/


@media (min-width: 576px) {
  .invalid-feedback {margin-left:154px;}
  }

  @media (min-width: 768px) {
  }
    
  @media (min-width: 992px) {
  }
  
  
  @media (min-width: 1200px) {
  }
  