  
  .brand-logo {
    max-width: 50px;
  }
  
  .brand-logo img {
    max-width: 100%;
    /*margin:0 10px;*/
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
      float: right;
      display: block;
    }
  
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
      background-color: #ddd;
    }
  .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  
    


  @media screen and (min-width:767px) {
  .topnav a:not(:first-child) {display: block;}    
  .topnav a.icon {display: none;}
  .topnav .nav-suojaus {float:right;}
  }
  